version: "3.7"
services:
#  discovery:
#    image: nutsfoundation/nuts-discovery:release-0.9.0-dev
#    networks:
#      - nuts
  redis:
    image: redis
    networks:
      - nuts
    ports:
      - "6379:6379"
  demo-ehr:
    image: nutsfoundation/nuts-demo-ehr:latest-dev
    environment:
      REDIS_SERVER_ADDRESS: redis
    networks:
      - nuts
    ports:
      - "8000:8000"
      - "8001:8001"
      - "8002:8002"
    volumes:
      - "./config/demo-ehr/:/app/config/"
  notary:
    image: nutsfoundation/nuts-consent-cordapp:release-0.13.0-dev
    networks:
      - nuts
    volumes:
      - "./nodes/notary/:/opt/nuts/"
    command: "java -jar /opt/nuts/corda.jar --network-root-truststore-password=changeit --log-to-console"
  bundy:
    image: nutsfoundation/nuts-consent-cordapp:release-0.13.0-dev
    networks:
      - nuts
    ports:
      - "12222:2222"
    volumes:
      - "./nodes/bundy/:/opt/nuts/"
#    command: "-Dlog4j.configurationFile=sql.xml -jar /opt/nuts/corda.jar --network-root-truststore-password=changeit --log-to-console"
    command: "java -jar /opt/nuts/corda.jar --network-root-truststore-password=changeit --log-to-console"
  dahmer:
    image: nutsfoundation/nuts-consent-cordapp:release-0.13.0-dev
    networks:
      - nuts
    ports:
      - "22222:2222"
    volumes:
      - "./nodes/dahmer/:/opt/nuts/"
    command: "java -jar /opt/nuts/corda.jar --network-root-truststore-password=changeit --log-to-console"
  bundy-bridge:
    image: nutsfoundation/nuts-consent-bridge:release-0.13.0-dev
    environment:
      SPRING_SERVER_ADDRESS: bundy-bridge
    networks:
      - nuts
    ports:
      - "18080:8080"
    volumes:
      - "./config/bundy/application.properties:/opt/nuts/application.properties"
  dahmer-bridge:
    image: nutsfoundation/nuts-consent-bridge:release-0.13.0-dev
    environment:
      SPRING_SERVER_ADDRESS: dahmer-bridge
    networks:
      - nuts
    ports:
      - "28080:8080"
    volumes:
      - "./config/dahmer/application.properties:/opt/nuts/application.properties"
  bundy-nuts-service-space:
    image: nutsfoundation/nuts-service-space:release-0.13.2
    environment:
      NUTS_CONFIGFILE: /opt/nuts/nuts.yaml
    networks:
      nuts:
        aliases:
          - registry
    ports:
      - "11323:1323"
      - "11324:4222"

    volumes:
      - "./config/bundy/nuts.yaml:/opt/nuts/nuts.yaml"
      - "./config/registry:/opt/nuts/registry"
      - "./nodes/bundy/irma:/opt/nuts/irma"
      - "./nodes/bundy/sqlite:/opt/nuts/sqlite"
      - "./config/bundy/keys:/opt/nuts/keys"
  dahmer-nuts-service-space:
    image: nutsfoundation/nuts-service-space:release-0.13.2
    environment:
      NUTS_CONFIGFILE: /opt/nuts/nuts.yaml
    networks:
      nuts:
        aliases:
        - registry
    ports:
      - "21323:1323"
      - "21324:4222"
    volumes:
      - "./config/dahmer/nuts.yaml:/opt/nuts/nuts.yaml"
      - "./config/registry:/opt/nuts/registry"
      - "./nodes/dahmer/irma:/opt/nuts/irma"
      - "./nodes/dahmer/sqlite:/opt/nuts/sqlite"
      - "./config/dahmer/keys:/opt/nuts/keys"
networks:
  nuts:
    name: nuts
